.card {
    margin: auto;
    max-width: 28em;
    font-size: 18px;
    line-height: 1.7;
    color: #333;
}

.card .title,
.card .context,
.card .translation,
.card .choices,
.card .next {
    margin: 1em 0;
}

.card .stats {
    font-size: 0.6em;
    text-align: center;
    color: #666;
}

.card .title {
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
}

.card .context .text {
    background-color: #ffe8e8;
}

.card .context .left,
.card .context .right {
    color: #666;
}

.card .translation {
    font-size: 0.8em;
    color: #666;
}

.card .choices button,
.card .next {
    display: block;
    margin: 0.4em 0;
    width: 100%;
    min-height: 3rem;
    padding: 0.2em 0;
    font-size: 0.8em;
}

